header#main-header {
	width: 100%;
	height: 60px;
	background: #da552f;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

a{
    text-decoration: none;
    padding: 10px;
	border-radius: 5px;
	color: #FFF
}

header .nome{
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
}

header .links{
	font-size: 18px;
	font-weight: bold;
	align-items: center;
	display: flex;
	justify-content: flex-end;
}