:root {
	--color-green: #50fa7b;
}

header {
	padding: 32px;
	border-bottom: 1px solid #333;
	background: rgba(0, 0, 0, 0.1);
}

.links {
	text-align: center;
}

.links a {
	color: white;
	font-size: 18px;
	line-height: 28px;
	margin: 0 16px;
	padding-bottom: 3px;
	text-decoration: none;
}

.links a:hover {
	color: var(--color-green);
	border-bottom: 1px solid var(--color-green);
	transition: color 300ms;
} 

#links-footer a{
	border-bottom: 1px solid var(--color-green);
}